<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSingup(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Sing up</button>
      </form>
  </div>
</div>